<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div align="center">
        <h1>Sign Up</h1>
    </div>
    <form method="POST" action="/signup">
        <div align="center">
            <input placeholder="First Name" name="firstName">
            <br>
            <br>
            <input placeholder="Last Name" name="lastName">        
            <br>
            <br>
            <input placeholder="username" name="username">
            <br>
            <br>
            <input type="password" placeholder="password" name="password">
            <br>
            <br>
            <input type="submit">
        </div>
        
    </form>
</body>
</html>